


* {
    padding: 0%;
    margin: 0%;
}



:root {
    --cor0: #000000;
    --cor1: #000BA8;
    --cor2: #2C6CF5;
    --cor3: #8E1DF5;
    --cor4: #062749;
}

html, body {
    height: 100vw;
    width: 100vh;
    box-sizing: border-box;

    background-image: linear-gradient(to bottom, #000000,#041b32, #051a49);
}




















main {
    width: 100vw;
    position: relative;
}




main > img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    

    position: absolute;
    top: 100px;
    left: 70%;


    animation: img 2s infinite ease-in-out;
}

@keyframes img {
    50% {
        transform: translateY(10%);
    }
}