@charset "UTF-08";


* {
    padding: 0%;
    margin: 0%;
}



:root {
    --cor0: #000000;
    --cor1: #000BA8;
    --cor2: #2C6CF5;
    --cor3: #8E1DF5;
    --cor4: #062749;
}

html, body {
    height: 100vw;
    width: 100vh;
    box-sizing: border-box;

    background-image: linear-gradient(to bottom, #000000,#041b32, #051a49);
}


header {
    width: 100vw;
    position: relative;
}

header > img {
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px #3d24ba;
    width: 200px;
    height: 200px;
    cursor: pointer;

    position: absolute;
    top: 100px;
    left: 70%;
    


    animation: img 2s infinite ease-in-out;
}

@keyframes img {
    50% {
        transform: translateY(10%);
    }
}



@keyframes a {
    0% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(1.0);
    }
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: ;
    gap: 50px;
    
    margin: 10px;
    margin-right: 30px;
    background-color: #000000;
    cursor: pointer;
}

nav > a {
    color: white;
    padding: 10px;
}

nav > a:hover {
    animation: a 1s infinite ease-out;
    background-image: linear-gradient(to left,var(--cor2),var(--cor1));
    text-decoration: none;
    text-shadow: 2px 2px 5px #912525;
    border-radius: 10px;
    
}

header > h1 {
    color: white;
    text-shadow: 1px 1px 5px #000BA8;
    

    position: absolute;
    top: 200px;
    left: 30%;


}

header > h2{
    color: white;
    text-shadow: 1px 1px 5px #000BA8;
    

    position: absolute;
    top: 229px;
    left: 30%;
}

/*Configurações de main*/
main {
    position: absolute;
    top: 115%;
    left: 13%;

    
}

#principal {
    

    background-color: rgba(255, 255, 255, 0.098);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px 40px 10px 40px;

}

#principal > p {
    
    color: white;
    text-shadow: 1px 1px 5px #000BA8; 
    
    width: 350px;
    
}

.projts {
    margin: 20px;
    background-color: #000BA8;
    width: 100px;
    height: 100px;
    
}










    

