


* {
    padding: 0%;
    margin: 0%;
}



:root {
    --cor0: #000000;
    --cor1: #000BA8;
    --cor2: #2C6CF5;
    --cor3: #8E1DF5;
    --cor4: #062749;
}

html, body {
    height: 100vw;
    width: 100vh;
    box-sizing: border-box;

    background-image: linear-gradient(to bottom, #000000,#041b32, #051a49);
}




















main {
    width: 100vw;
    position: relative;
}

h1 {
    color: white;
    text-shadow: 1px 1px 5px #000BA8;
    

    position: absolute;
    top: 150px;
    left: 30%;


}

h1:hover {
    animation: h1 2s infinite  ease-out;
}
h2 {
    color: white;
    text-shadow: 1px 1px 5px #000BA8;
    

    position: absolute;
    top: 179px;
    left: 30%;
}



main > img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    

    position: absolute;
    top: 100px;
    left: 70%;
    


    animation: img 2s infinite ease-in-out;
}

@keyframes img {
    50% {
        transform: translateY(10%);
    }
}


@keyframes h1 {
    0% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(1.0);
    }
}
    
  
  
   
  